<!DOCTYPE html>
<html>
        <div id="table-position">
                <table>
                    <tr>
                      <th>Plate Number</th>
                      <th>Make</th>
                      <th>Model</th>
                      <th>Colour</th>
                      <th>Daily Rate</th>
                      <th>Has Storage</th>
                      <th>Is Scooter</th>
                    </tr>
                    <tr *ngFor="let viewBikes of getBikes">
                        <td> {{viewBikes.plate_Number}}</td>
                        <td> {{viewBikes.make}}</td>
                        <td> {{viewBikes.model}}</td>
                        <td> {{viewBikes.color}}</td>
                        <td> {{viewBikes.ratePerDay}}</td>
                        <td> {{viewBikes.hasStorage}}</td>
                        <td> {{viewBikes.isScooterType}}</td>
                    </tr>
                </table>
            </div>
        <div id="form-position">
        <h3>Book a Motor-Bike</h3>
        <form id="form-bike-schedule" >
                <p>booking ID</p>
                <input type="text" id="txtID" name ="bookingID" class="txtSchedule" [(ngModel)]="bookingID" [ngModelOptions]="{standalone:true}">
                <p>Licence Plate Number</p>
                <input type="text" id="txtID" name ="plate_Number" class="txtSchedule"[(ngModel)]="plate_Number" [ngModelOptions]="{standalone:true}">
                <p>customer ID</p>
                <input type="text" id="txtID" name ="customerID" class="txtSchedule"[(ngModel)]="customerID" [ngModelOptions]="{standalone:true}">
                <p>pickup Date</p>
                <input type="date" id="txtpDate" name ="pickupDate" class="txtSchedule"[ngModel]="pickupDate|date:'yyyy-MM-dd'"(ngModelChange)="pickupDate =$event"[ngModelOptions]="{standalone:true}">
                <p>Dropoff Date</p>
                <input type="date" id="txtdDate" name = "dropoffDate" class="txtSchedule"[ngModel]="dropoffDate|date:'yyyy-MM-dd'"(ngModelChange)="dropoffDate =$event"[ngModelOptions]="{standalone:true}">
               
            <br>
            <br>


            <input  type="Submit" value='Book Bike' id="Btn" (click)="MakeBikeBooking()">
        </form>
    </div>
    
        
    
</html>
