<!DOCTYPE html>
<html>
    <head>
    </head>
<body>
    <h1>Wesminster Wehicle Rental</h1>
        <div class="pg">
            <div class="Btn" id="carBtn">
                <a href="http://localhost:4200/car-form">
                    <div class="Btn_inner">
                        <h3> Rent Car </h3>
                    </div>
                </a>
            </div>
            <div class="Btn" id="bikeBtn">
                <a href="http://localhost:4200/bike-form">
                    <div class="Btn_inner">
                        <h3> Rent Bike </h3>
                    </div>
                </a>
            </div>
            <div class="Btn" id="customerBtn">
                    <a href="http://localhost:4200/customer-form">
                        <div class="Btn_inner">
                                <h3>
                                        Sign-Up as Customer
                                </h3>
                        </div>
                    </a>
                </div>
        </div>
</body>
</html>

<router-outlet></router-outlet>
